/*
  ver : 9.6.3
  data: 2025.04.10
*/

/***** -- var -- *****/
:root {
  --base-width: 1200;
  --base-vw-coef: calc(100vw / var(--base-width));
  --base: 8px;
  --base-fixed: 8px;
  --font-family-1st: 'Noto Sans JP';
  --font-family-2nd: 'Noto Sans JP';
  --font-family-3rd: 'Noto Sans JP';
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-xxs: 10px;
  --line-height: 1.6;
  --color-1st: #000000;
  --color-1st-on: #ffffff;
  --color-1st-container: #262626;
  --color-1st-container-on: #b1b1b1;
  --color-2nd: #5e5e5e;
  --color-2nd-on: #ffffff;
  --color-2nd-container: #e6e6e6;
  --color-2nd-container-on: #4a4a4a;
  --color-3rd: #000000;
  --color-3rd-on: #ffffff;
  --color-3rd-container: #262626;
  --color-3rd-container-on: #b1b1b1;
  --color-surface: #f9f9f9;
  --color-surface-on: #1b1b1b;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-highest: #eeeeee;
  --color-surface-inverse: #303030;
  --color-surface-inverse-on: #f1f1f1;
  --color-outline: #7e7576;
  --color-success: #03a9f4;
  --color-warning: #ff9800;
  --color-error: #ba1a1a;
  --color-error-on: #ffffff;
  --color-error-container: #ffdad6;
  --color-error-container-on: #410002;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ba1a1a;
  --color-pink: #E91E63;
  --color-purple: #9C27B0;
  --color-deep-purple: #673AB7;
  --color-indigo: #3F51B5;
  --color-blue: #2196F3;
  --color-light-blue: #03A9F4;
  --color-cyan: #00BCD4;
  --color-teal: #009688;
  --color-green: #4CAF50;
  --color-light-green: #8BC34A;
  --color-lime: #CDDC39;
  --color-yellow: #FFEB3B;
  --color-amber: #FFC107;
  --color-orange: #FF9800;
  --color-deep-orange: #FF5722;
  --color-brown: #795548;
  --color-gray: #9E9E9E;
  --color-blue-gray: #607D8B;
  --text-color: var(--color-surface-on);
  --text-link-color: var(--color-surface-on);
  --bg-color: var(--color-surface);
  --header-bg-color: rgba(255, 255, 255, 1);
  --footer-bg-color: var(--color-surface-inverse);
  --drawer-bg-color: #f1f1f1;
  --drawer-content-bg-color: #fff;
  --drop-bg-color: rgba(236, 233, 229, .9);
  --modal-bg-color: rgb(255 255 255 / 80%);
  --form-input-bg-radius: 0;
  --form-input-bg-color: var(--color-white);
  --form-input-bd-color: var(--color-outline);
  --form-input-focus-bg-color: var(--color-white);
  --form-input-focus-bd-color: var(--color-outline);
  --form-checkbox-color: var(--color-1st);
  --form-checkbox-bd-color: var(--color-1st);
  --form-radio-color: var(--color-1st);
  --form-radio-bd-color: var(--color-1st);
  --button-radius: 0;
  --inner-margin: 40px;
  --inner-max-width: 1200px;
  --inner-max-width-lg: 880px;
  --inner-max-width-md: 720px;
  --inner-max-width-sm: 560px;
  --inner-max-width-xs: 400px;
  --wrap-padding: 96px;
}
@media screen and (max-width: 1120px) {
  :root {
    --base-width: 1040;
    --base-vw-coef: calc(100vw / var(--base-width));
    --base: calc(8 * var(--base-vw-coef));
    --base-fixed: 8px;
    --font-size-xl: calc(20 * var(--base-vw-coef));
    --font-size-lg: calc(18 * var(--base-vw-coef));
    --font-size-md: calc(16 * var(--base-vw-coef));
    --font-size-sm: calc(14 * var(--base-vw-coef));
    --font-size-xs: calc(12 * var(--base-vw-coef));
    --font-size-xxs: calc(10 * var(--base-vw-coef));
    --inner-margin: calc(32 * var(--base-vw-coef));
    --inner-margin-fixed: 32px;
    --wrap-padding: calc(96 * var(--base-vw-coef));
    --wrap-padding-fixed: 96px;
  }
}
@media screen and (max-width: 960px) {
  :root {
    --base-width: 880;
    --base-vw-coef: calc(100vw / var(--base-width));
    --base: calc(7 * var(--base-vw-coef));
    --base-fixed: 7px;
    --font-size-xl: calc(18 * var(--base-vw-coef));
    --font-size-lg: calc(16 * var(--base-vw-coef));
    --font-size-md: calc(15 * var(--base-vw-coef));
    --font-size-sm: calc(13 * var(--base-vw-coef));
    --font-size-xs: calc(11 * var(--base-vw-coef));
    --font-size-xxs: calc(9 * var(--base-vw-coef));
    --inner-margin: calc(24 * var(--base-vw-coef));
    --inner-margin-fixed: 24px;
    --wrap-padding: calc(80 * var(--base-vw-coef));
    --wrap-padding-fixed: 80px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --base-width: 720;
    --base-vw-coef: calc(100vw / var(--base-width));
    --base: calc(7 * var(--base-vw-coef));
    --base-fixed: 7px;
    --font-size-xl: calc(18 * var(--base-vw-coef));
    --font-size-lg: calc(16 * var(--base-vw-coef));
    --font-size-md: calc(15 * var(--base-vw-coef));
    --font-size-sm: calc(13 * var(--base-vw-coef));
    --font-size-xs: calc(11 * var(--base-vw-coef));
    --font-size-xxs: calc(9 * var(--base-vw-coef));
    --inner-margin: calc(24 * var(--base-vw-coef));
    --inner-margin-fixed: 24px;
    --wrap-padding: calc(80 * var(--base-vw-coef));
    --wrap-padding-fixed: 80px;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --base-width: 560;
    --base-vw-coef: calc(100vw / var(--base-width));
    --base: calc(6 * var(--base-vw-coef));
    --base-fixed: 6px;
    --font-size-xl: calc(17 * var(--base-vw-coef));
    --font-size-lg: calc(15 * var(--base-vw-coef));
    --font-size-md: calc(14 * var(--base-vw-coef));
    --font-size-sm: calc(12 * var(--base-vw-coef));
    --font-size-xs: calc(10 * var(--base-vw-coef));
    --font-size-xxs: calc(8 * var(--base-vw-coef));
    --inner-margin: calc(16 * var(--base-vw-coef));
    --inner-margin-fixed: 16px;
    --wrap-padding: calc(64 * var(--base-vw-coef));
    --wrap-padding-fixed: 64px;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --base-width: 400;
    --base-vw-coef: calc(100vw / var(--base-width));
    --base: calc(6 * var(--base-vw-coef));
    --base-fixed: 6px;
    --font-size-xl: calc(17 * var(--base-vw-coef));
    --font-size-lg: calc(15 * var(--base-vw-coef));
    --font-size-md: calc(14 * var(--base-vw-coef));
    --font-size-sm: calc(12 * var(--base-vw-coef));
    --font-size-xs: calc(10 * var(--base-vw-coef));
    --font-size-xxs: calc(8 * var(--base-vw-coef));
    --inner-margin: calc(16 * var(--base-vw-coef));
    --inner-margin-fixed: 16px;
    --wrap-padding: calc(64 * var(--base-vw-coef));
    --wrap-padding-fixed: 64px;
  }
}
/* dark mode */
@media (prefers-color-scheme: dark) {
}

/***** -- fonts -- *****/
/* Noto Sans JP */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/NotoSansJP-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/fonts/NotoSansJP-Medium.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/NotoSansJP-Bold.woff2') format('woff2');
}

/***** -- reset -- *****/
ins,mark{color:#000}article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}a,hr{padding:0}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}ins{background-color:transparent;text-decoration:none}mark{background-color:#ff9;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;margin:.5em 0}input,select{vertical-align:middle}

/***** -- animation -- *****/
@keyframes sk-scaleout {
  0% { 
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/***** -- Foundation -- *****/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-1st), sans-serif;
  text-align: left;
  font-size: var(--font-size-md);
  color: var(--text-color);
  letter-spacing: .1em;
  line-height: var(--line-height);
  background: var(--bg-color);
  overflow-x: hidden;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  print-color-adjust: exact;
}
main {
  display: block;
}
a {
  color: var(--text-link-color);
  text-decoration: none;
  transition: all .2s ease;
  cursor: pointer;
}
figure {
  line-height: 1;
}
img {
  max-width: 100%;
  height: auto;
  line-height: 1;
  vertical-align: bottom;
}
ul, ol {padding-left: 1.5em;}
ul.is-none {list-style-type: none;}
ul.is-square {list-style-type: square;}
::-webkit-input-placeholder {color: #999;}
::-moz-placeholder {
  color: #999;
  opacity: 1;
}
:-ms-input-placeholder {color: #999;}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="submit"],
input[type="button"],
select,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: var(--font-family-1st), sans-serif;
  font-size: var(--font-size-sm);
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
select,
textarea {
  max-width: 100%;
  padding: 1em;
  background-color: var(--form-input-bg-color);
  border: 1px solid;
  border-color: var(--form-input-bd-color);
  border-radius: var(--form-input-bg-radius);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
  background-color: var(--form-input-focus-bg-color);
  border-color: var(--form-input-focus-bd-color);
}
select {
  max-width: 100%;
  min-width: 4em;
  padding: .75em 2.5em .75em 1em;
  background-image: url(/img/@icon/arrow_drop_down.svg);
  background-repeat: no-repeat;
  background-position: right .25em center;
  background-size: 1.75em;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
select > option {
  outline: none;
}
textarea {
  resize: vertical;
  max-height: 480px;
  min-height: 240px;
}
input[type="checkbox"],
input[type="radio"] {
  width: 1.5em;
  height: 1.5em;
  font-family: var(--font-family-1st), sans-serif;
  font-size: var(--font-size-md);
  margin: 0 .5em 0 0;
  cursor: pointer;
}
input[type="button"],
button {
  font-size: var(--font-size-md);
}
button:focus {
  outline: none;
}
a.is-disabled,
input:disabled,
button:disabled {
  opacity: .6;
  pointer-events: none;
}
[disabled="true"] {
  opacity: .6;
  pointer-events: none;
  cursor: inherit;
}

/***** -- Layout  -- *****/
.l-body {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
  z-index: 1;
}
.l-wrap,
.l-parlx {
  position: relative;
  padding: var(--wrap-padding) 0;
  z-index: 1;
}
.l-wrap:first-of-type {padding-top: calc(var(--wrap-padding) / 2);}
.l-wrap:last-of-type {padding-bottom: calc(var(--wrap-padding) * 2);}
.l-parlx {position: static;}

/***** -- Component  -- *****/
/* inner */
.c-inner,
.c-inner--full {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.c-inner {
  width: calc(100% - (var(--inner-margin) * 2));
  max-width: var(--inner-max-width);
}
.c-inner--full {width: 100%;}
/* block */
[class*="c-block"] {
  display: block;
  position: relative;
  width: fit-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.c-block--lg {width: var(--inner-max-width-lg);}
.c-block--md {width: var(--inner-max-width-md);}
.c-block--sm {width: var(--inner-max-width-sm);}
.c-block--xs {width: var(--inner-max-width-xs);}
/* btn */
[class*="c-btn"] {
  /* display: inline-block; */
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 calc(var(--base) * 0.5);
  position: relative;
  max-width: 100%;
  font-weight: 700;
  text-align: center;
  letter-spacing: .1em;
  padding: .75em 2.25em;
  background: initial;
  border: initial;
  border-radius: var(--button-radius);
  transition: all .2s ease;
  cursor: pointer;
}
[class*="c-btn"]:disabled {
  opacity: .2;
  pointer-events: none;
}
[class*="c-btn"]:disabled:hover {
  color: inherit;
  background-color: inherit;
}
[class*="c-btn"][btn-icon] {padding: .75em 2.25em;}
[class*="c-btn"][btn-icon]::before {
  position: absolute;
  left: 1em;
  top: 50%;
  width: 1em;
  height: 1em;
  transform: translate(0,-50%);
  background-size: cover;
  content: '';
}
[class*="c-btn"] .material-symbols-outlined {
  font-size: 1.5em;
}
.c-btn--black {
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
}
.c-btn--white {
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
}
.c-btn--gray {
  color: var(--color-black);
  background-color: var(--color-gray);
  border: 1px solid var(--color-gray);
}
.c-btn--emphasis {
  color: var(--color-white);
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
.c-btn--error {
  color: var(--color-white);
  background-color: var(--color-error);
  border: 1px solid var(--color-error);
}
.c-btn--1st {
  color: var(--color-1st-on);
  background-color: var(--color-1st);
  border: 1px solid var(--color-1st);
}
.c-btn--2nd {
  color: var(--color-2nd-container-on);
  background-color: var(--color-2nd-container);
  border: 1px solid var(--color-2nd-container);
}
.c-btn--outline {
  color: var(--color-1st);
  background-color: transparent;
  border: 1px solid var(--color-outline);
}
/* flex */
.c-flex {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.c-flex > * {
  display: block;
  position: relative;
  max-width: 100%;
  /* flex-direction: column; */
}
.c-flex--center {justify-content: center;}
.c-flex--right  {justify-content: flex-end;}
.c-flex--middle {align-items: center;}
.c-flex--bottom {align-items: flex-end;}
/* table */
.c-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.c-table > * {
  display: table-cell;
  vertical-align: middle;
}
/* inline */
.c-inline {letter-spacing: -.4em;}
.c-inline > * {
  display: inline-block !important;
  position: relative;
  vertical-align: middle;
  letter-spacing: normal;
}
/* row */
.c-row--xxs > *:not(:first-child) {margin-top: calc(var(--base) * 0.5);}
.c-row--xs > *:not(:first-child) {margin-top: calc(var(--base) * 1);}
.c-row--sm > *:not(:first-child) {margin-top: calc(var(--base) * 2);}
.c-row--md > *:not(:first-child) {margin-top: calc(var(--base) * 3);}
.c-row--lg > *:not(:first-child) {margin-top: calc(var(--base) * 4);}
.c-row--xl > *:not(:first-child) {margin-top: calc(var(--base) * 5);}
/* column */
.c-column--xxs > *:not(:last-child) {margin-right: calc(var(--base) * 0.5);}
.c-column--xs > *:not(:last-child) {margin-right: calc(var(--base) * 1);}
.c-column--sm > *:not(:last-child) {margin-right: calc(var(--base) * 2);}
.c-column--md > *:not(:last-child) {margin-right: calc(var(--base) * 3);}
.c-column--lg > *:not(:last-child) {margin-right: calc(var(--base) * 4);}
.c-column--xl > *:not(:last-child) {margin-right: calc(var(--base) * 5);}
/* gap */
.c-gap--xxs {gap: calc(var(--base) * 0.5);}
.c-gap--xs {gap: calc(var(--base) * 1);}
.c-gap--sm {gap: calc(var(--base) * 2);}
.c-gap--md {gap: calc(var(--base) * 3);}
.c-gap--lg {gap: calc(var(--base) * 4);}
.c-gap--xl {gap: calc(var(--base) * 5);}
/* hover */
[class*="c-hover"],
[class*="c-hover"]::before,
[class*="c-hover"]::after {transition: all .2s ease;}
.c-hover--fade:hover {opacity: .7;}
.c-hover--shadow {box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0);}
.c-hover--shadow:hover {box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.15);}
.c-hover--ul {text-decoration: none;}
.c-hover--ul:hover {text-decoration: underline;}
.c-hover--nl {text-decoration: underline;}
.c-hover--nl:hover {text-decoration: none;}
/* heading */
[class*="c-heading"] {
  position: relative;
  word-break: break-word;
}
/* icon */
.c-icon-before,
.c-icon-after {
  display: block;
  position: relative;
}
.c-icon-before::before,
.c-icon-after::after {
  display: block;
  position: absolute;
  top: 50%;
  font-family: 'Material Symbols Outlined';
  font-size: inherit;
  font-weight: bold;
  line-height: 1;
  transform: translate(0,-50%);
  transition: all .2s ease;
}
/* show */
.c-show {
  opacity: 0;
  transition: .4s;
}
.c-show.is-show {
  opacity: 1;
}
.c-show[show-type="fadeInUp"] {transform: translateY(100px);}
.c-show[show-type="fadeInUp"].is-show {transform: translateY(0);}
.c-show[show-type="fadeInDown"] {transform: translateY(-100px);}
.c-show[show-type="fadeInDown"].is-show {transform: translateY(0);}
/* switch */
.c-switch-tab {
  position: relative;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.c-switch-tab::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .125em;
  background-color: #f1f1f1;
  content: '';
}
.c-switch-tab > .c-inline > * {
  text-align: center;
  padding: .4em 1.6em;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.c-switch-tab > .c-inline > *.is-active {
  font-weight: 700;
  border-bottom: 1px solid var(--color-1st);
}
.c-switch-cont [js-switch-cont] {display: none;}
.c-switch-cont [js-switch-cont].is-active {display: block;}
/* form */
.c-form-checkbox input[type="checkbox"],
.c-form-radio input[type="radio"] {
  display: none;
}
.c-form-checkbox input[type="checkbox"] + label,
.c-form-radio input[type="radio"] + label {
  display: block;
  position: relative;
  padding-left: calc(var(--base)* 4);
  cursor: pointer;
}
.c-form-checkbox input[type="checkbox"] + label::before,
.c-form-radio input[type="radio"] + label::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(var(--base)* 3);
  height: calc(var(--base)* 3);
  border: 1px solid;
  content: '';
}
.c-form-checkbox input[type="checkbox"] + label::before {
  border-color: var(--form-checkbox-bd-color);
}
.c-form-radio input[type="radio"] + label::before {
  border-color: var(--form-radio-bd-color);
  border-radius: 50%;
}
.c-form-checkbox input[type="checkbox"]:checked + label::after,
.c-form-radio input[type="radio"]:checked + label::after {
  display: block;
  position: absolute;
  content: '';
}
.c-form-checkbox input[type="checkbox"]:checked + label::after {
  left: calc((var(--base)* 0.5) + 1px);
  top: calc((var(--base)* 0.5) + 1px);
  width: calc(var(--base)* 1.8);
  height: calc(var(--base)* 0.9);
  border-left: 2px solid var(--form-checkbox-color);
  border-bottom: 2px solid var(--form-checkbox-color);
  transform: rotate(-45deg);
}
.c-form-radio input[type="radio"]:checked + label::after  {
  left: calc((var(--base)* 0.5) + 1px);
  top: calc((var(--base)* 0.5) + 1px);
  width: calc(var(--base)* 2);
  height: calc(var(--base)* 2);
  background-color: var(--form-radio-color);
  border-radius: 50%;
}
.c-form-file {position: relative;}
.c-form-file label {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: #fff;
  text-align: center;
  max-width: 100%;
  padding: 1em 1.5em;
  background-color: var(--color-1st);
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;  
}
.c-form-file label::after {
  position: absolute;
  right: -150px;
  top: 50%;
  font-size: inherit;
  transform: translateY(-50%);
  content: '選択されていません';
}
.c-form-file label.is-changed::after {content: '';}
.c-form-file-name {
  width: calc(100% - 150px);
  font-weight: bold;
  color: #fff;
  padding-left: 1.5em;
}
/* movie */
.c-movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.c-movie iframe,
.c-movie video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}
/* ellipsis */
[class*="c-ellipsis"] {
  display: -webkit-box !important;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.c-ellipsis--1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.c-ellipsis--2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.c-ellipsis--3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
/* boximg */
.c-boximg {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.c-boximg::before {
  display: block;
  padding-top: 100%;
  content: '';
}
.c-boximg[boximg-ratio="1x1"]::before {padding-top: 100%;}
.c-boximg[boximg-ratio="5x4"]::before {padding-top: 80%;}
.c-boximg[boximg-ratio="4x3"]::before {padding-top: 75%;}
.c-boximg[boximg-ratio="3x2"]::before {padding-top: 66.66%;}
.c-boximg[boximg-ratio="5x3"]::before {padding-top: 60%;}
.c-boximg[boximg-ratio="16x9"]::before {padding-top: 56.25%;}
.c-boximg[boximg-ratio="ogp"]::before {padding-top: 52.5%;}
.c-boximg[boximg-ratio="2x1"]::before {padding-top: 50%;}
.c-boximg[boximg-ratio="3x1"]::before {padding-top: 33.33%;}
.c-boximg::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all .2s ease;
  content: '';
}
/* trim */
.c-trim {position: relative;}
.c-trim::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  content: '';
}
.c-trim img,
.c-trim source {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.c-trim[trim-ratio="4x3"] img,
.c-trim[trim-ratio="4x3"] source {aspect-ratio: 4/3;}
.c-trim[trim-ratio="3x2"] img,
.c-trim[trim-ratio="3x2"] source {aspect-ratio: 3/2;}
.c-trim[trim-ratio="2x1"] img,
.c-trim[trim-ratio="2x1"] source {aspect-ratio: 2/1;}
.c-trim[trim-ratio="ogp"] img,
.c-trim[trim-ratio="ogp"] source {aspect-ratio: 1200/630;}
.c-trim[trim-ratio="mov"] img,
.c-trim[trim-ratio="mov"] source {aspect-ratio: 16/9;}
@media screen and (max-width: 1120px) {
  /* hover */
  .c-hover--fade:hover {opacity: 1;}
}

/***** -- Project -- *****/
/* loader */
@keyframes am-loader-circle {
  0%   {transform: translate(-50%,-50%) rotate(0deg);}
  100% {transform: translate(-50%,-50%) rotate(360deg);}
}
@keyframes am-loader-fadeout {
  0%   {opacity: 1;}
  90%  {opacity: 0;}
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes am-loader-border {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes am-loader-01 {
  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 var(--color-1st);
    height: 32px;
  }
  40% {
    opacity: 1;
    box-shadow: 0 -8px var(--color-1st);
    height: 40px;
  }
}
@keyframes am-loader-hue-rotate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
@keyframes am-loader-text-opacity {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
#loader.l-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  z-index: 101;
}
#loader.l-loader.is-off {animation: am-loader-fadeout 1s 2s forwards;}
.p-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.c-loader-circle {
  width: 80px;
  height: 80px;
  border-top: 2px solid var(--color-1st);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  animation: am-loader-circle 1.1s infinite linear;
}
.c-loader-border {
  width: 120px;
  height: 4px;
  background-color: var(--color-2nd-container);
  border-radius: .5em;
  translate: 0;
}
.c-loader-border::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--color-2nd-container-on);
  border-radius: .5em;
  animation: am-loader-border 1s ease-in-out infinite;
  content: '';
}
.c-loader-01 {
  animation-delay: 0.16s !important;
  text-indent: -9999em;
}
.c-loader-01::before,
.c-loader-01::after {
  position: absolute;
  content: '';
}
.c-loader-01::before {
  left: -16px;
}
.c-loader-01::after {
  left: 16px;
  animation-delay: 0.32s !important;
}
.c-loader-01::before,
.c-loader-01::after,
.c-loader-01 {
  width: 8px;
  height: 32px;
  background-color: var(--color-1st);
  animation: am-loader-01 0.8s infinite ease-in-out;
}
.c-loader-text-01 {
  color: var(--color-1st);
  background: linear-gradient(to right, var(--color-1st), var(--color-2nd));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: am-loader-hue-rotate 9s linear infinite;
}
.c-loader-text-02 {
  color: var(--color-2nd-container-on);
  animation: am-loader-text-opacity 0.5s alternate infinite;
}
.c-loader-dotWave {
  --dot-wave-size: 48px;
  --dot-wave-speed: 0.6s;
  --dot-wave-color: var(--color-1st);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.c-loader-dotWave > * {
  flex-shrink: 0;
  width: calc(var(--dot-wave-size) * 0.16);
  height: calc(var(--dot-wave-size) * 0.16);
  border-radius: 50%;
  background-color: var(--dot-wave-color);
  will-change: transform;
}
.c-loader-dotWave > *:nth-child(1) {
  animation: am-loader-dot-wave var(--dot-wave-speed) ease-in-out calc(var(--dot-wave-speed) * -0.45) infinite;
}
.c-loader-dotWave > *:nth-child(2) {
  animation: am-loader-dot-wave var(--dot-wave-speed) ease-in-out calc(var(--dot-wave-speed) * -0.3) infinite;
}
.c-loader-dotWave > *:nth-child(3) {
  animation: am-loader-dot-wave var(--dot-wave-speed) ease-in-out calc(var(--dot-wave-speed) * -0.15) infinite;
}
.c-loader-dotWave > *:nth-child(4) {
  animation: am-loader-dot-wave var(--dot-wave-speed) ease-in-out infinite;
}
@keyframes am-loader-dot-wave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-200%);
  }
}
.c-loader-ripples {
  position: relative;
  width: 80px;
  height: 80px;
}
.c-loader-ripples::before,
.c-loader-ripples::after {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border: 4px solid var(--color-1st);
  border-radius: 50%;
  animation: am-loader-ripples 1s ease-out infinite;
  content: '';
}
.c-loader-ripples::after {
  animation-delay: -0.5s;
}
@keyframes am-loader-ripples {
  0% {
    width: 0%;
    height: 0%;
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
/* skeleton */
@keyframes skeleton-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
[js-skeleton] {
  position: relative;
  overflow: hidden;
}
[js-skeleton]::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc !important;
  content: "";
}
[js-skeleton]::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: skeleton-animation 1.2s linear infinite;
}
[js-skeleton][skeleton-text="xs"] {height: calc(var(--font-size-xs) * var(--line-height));}
[js-skeleton][skeleton-text="sm"] {height: calc(var(--font-size-sm) * var(--line-height));}
[js-skeleton][skeleton-text="md"] {height: calc(var(--font-size-md) * var(--line-height));}
[js-skeleton][skeleton-text="lg"] {height: calc(var(--font-size-lg) * var(--line-height));}
[js-skeleton][skeleton-text="xl"] {height: calc(var(--font-size-xl) * var(--line-height));}
[js-skeleton][skeleton-text]::before {
  background-color: #ccc;
  background-size: 1em 1em;
}
[js-skeleton][skeleton-text] span {
  display: block;
  opacity: 0;
}
[js-skeleton][skeleton-image] img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
[js-skeleton][skeleton-image]::before {
  display: block;
  position: relative;
  padding-top: 100%;
  background-color: #f1f1f1;
  content: "";
}
[js-skeleton][skeleton-image="1x1"]::before {padding-top: 100%;}
[js-skeleton][skeleton-image="4x3"]::before {padding-top: 75%;}
[js-skeleton][skeleton-image="3x2"]::before {padding-top: 66.66%;}
[js-skeleton][skeleton-image="16x9"]::before {padding-top: 56.25%;}
[js-skeleton][skeleton-image="2x1"]::before {padding-top: 50%;}
[js-skeleton][skeleton-image="ogp"]::before {padding-top: 52.5%;}
[js-skeleton] [skeleton-hidden] {opacity: 0;}
/* header */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--color-surface-container);
  opacity: 1;
  transition: background-color .2s, transform .2s;
  transform: translateY(0);
  transform-origin: top center;
  z-index: 100;
}
html[scroll-vertical="down"] .l-header[scroll-hidden="down"],
html[scroll-vertical="up"] .l-header[scroll-hidden="up"] {transform: translateY(-200%);}
.l-header .p-header {
  position: relative;
  width: 100%;
  height: inherit;
  margin: auto;
}
.l-header [header-level-1] {height: var(--header-height);}
.l-header .p-header-logo {
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translate(0,-50%);
}
.l-header .p-header-logo a {
  display: block;
  line-height: 1;
}
.l-header .p-header-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 64px;
  height: inherit;
  cursor: pointer;
}
.l-header .p-header-menu-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 1px;
  background-color: var(--color-1st);
  transform: translate(-50%,-50%);
  transition: background-color .2s;
}
.l-header .p-header-menu-icon::before,
.l-header .p-header-menu-icon::after {
  display: block;
  position: absolute;
  right: 0;
  width: 32px;
  height: 1px;
  background-color: var(--color-1st);
  transition: all .3s cubic-bezier(.215,.61,.355,1);
  /* transition: background-color .3s cubic-bezier(.215,.61,.355,1), transform .3s cubic-bezier(.215,.61,.355,1); */
  content: '';
}
.l-header .p-header-menu-icon::before {top: -8px;}
.l-header .p-header-menu-icon::after  {top: 8px;}
.l-header .p-header-menu:hover {background-color: transparent;}
html.is-drawer .l-header {background-color: #fff;}
html.is-drawer .l-header .p-header-menu-icon {background-color: transparent;}
html.is-drawer .l-header .p-header-menu-icon::before,
html.is-drawer .l-header .p-header-menu-icon::after {transition-delay: 0s, .3s;}
html.is-drawer .l-header .p-header-menu-icon::before {transform: translateY(8px) rotate(45deg);}
html.is-drawer .l-header .p-header-menu-icon::after {transform: translateY(-8px) rotate(-45deg);}
/* drawer */
.l-drawer {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  scale: 0;
  transition: opacity .2s;
  z-index: 100;
}
html.is-drawer .l-drawer {
  background-color: var(--drawer-bg-color);
  opacity: 1;
  scale: 1;
}
.p-drawer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--drawer-content-bg-color);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.l-drawer[drawer-type="right"] .p-drawer {
  width: 90%;
  max-width: 280px;
  margin-left: auto;
  translate: 100%;
  transform-origin: top right;
  transition: translate 0.2s 0s;
}
html.is-drawer .l-drawer[drawer-type="right"] .p-drawer {
  translate: 0;
}
.l-drawer .p-drawer > *:last-of-type {padding-bottom: 120px;}
/*
  .l-drawer .p-drawer-item[level-1] {}
*/
html.is-drawer {overflow: hidden;}
html.is-drawer body {overflow: unset !important;}
/* drop */
.l-drop {
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--drop-bg-color);
  transition: transform .2s ease;
  transform: translateY(0);
  transform-origin: top center;
  z-index: 90;
}
html[scroll-vertical="down"] #drop.l-drop[scroll-hidden="down"],
html[scroll-vertical="up"] #drop.l-drop[scroll-hidden="up"] {transform: translateY(-200%);}
/*
  .l-drop .p-drop-item[drop-level-1] {}
*/
/* footer */
.l-footer {
  position: relative;
  padding: calc(var(--base) * 4) 0 calc(var(--base) * 2);
  background-color: var(--footer-bg-color);
  z-index: 0;
}
.l-footer.is-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.l-footer a,
.l-footer p {
  color: var(--color-surface-inverse-on);
}
.l-footer .p-copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: calc(var(--base) * 1) 0;
}
/* breadcrumbs */
.l-breadcrumbs .p-breadcrumbs-item {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding: 1em 1em;
}
.l-breadcrumbs .p-breadcrumbs-item > .c-inline {
  display: flex;
}
.l-breadcrumbs .p-breadcrumbs-item > .c-inline > * {
  font-size: var(--font-size-sm);
  line-height: 1;
  padding-right: 2em;
}
.l-breadcrumbs .p-breadcrumbs-item > .c-inline > *:not(:last-child)::after {
  position: absolute;
  right: 0.5em;
  top: 50%;
  font-family: 'Material Symbols Outlined';
  transform: translate(0, -50%);
  content: '\e5cc';
}
/* modal */
#modalSlide .p-container {
  top: 50%;
  background-color: #000;
  transform: translate(-50%,-50%) scale(1.2);
}
#modalSlide.is-active .p-container {
  transform: translate(-50%,-50%) scale(1);
}
#modalSlide [js-modal-cont] {
  padding: 0 !important;
}
#modalSlide .p-slide-photo::before {
  display: block;
  padding-top: 56.25%;
  content: '';
}
#modalSlide .p-slide-photo img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 640px) {
  /* header */
  .l-header .p-header-logo {left: 1em;}
  /* modal */
}

/***** -- Utility -- ******/
.u-tA--center {text-align: center;}
.u-tA--left {text-align: left;}
.u-tA--right {text-align: right;}
.u-fC--black {color: var(--color-black) !important;}
.u-fC--white {color: var(--color-white) !important;}
.u-fC--red {color: var(--color-red) !important;}
.u-fC--gray {color: var(--color-gray) !important;}
.u-fC--1st {color: var(--color-1st);}
.u-fC--2nd {color: var(--color-2nd);}
.u-fC--3rd {color: var(--color-3rd);}
.u-fW--normal {font-weight: normal !important;}
.u-fW--bold {font-weight: bold !important;}
.u-fW--500 {font-weight: 500 !important;}
.u-fW--700 {font-weight: 700 !important;}
.u-fS--xl {font-size: var(--font-size-xl) !important;}
.u-fS--lg {font-size: var(--font-size-lg) !important;}
.u-fS--md {font-size: var(--font-size-md) !important;}
.u-fS--sm {font-size: var(--font-size-sm) !important;}
.u-fS--xs {font-size: var(--font-size-xs) !important;}
.u-fS--xxs {font-size: var(--font-size-xxs) !important;}
.u-bgC--1st {background-color: var(--color-1st) !important;}
.u-bgC--2nd {background-color: var(--color-2nd) !important;}
.u-bgC--3rd {background-color: var(--color-3rd) !important;}
.u-bgC--black {background-color: var(--color-black) !important;}
.u-bgC--white {background-color: var(--color-white) !important;}
.u-bgC--red {background-color: var(--color-red) !important;}
.u-bgC--pink {background-color: var(--color-pink) !important;}
.u-bgC--purple {background-color: var(--color-purple) !important;}
.u-bgC--deep-purple {background-color: var(--color-deep-purple) !important;}
.u-bgC--indigo {background-color: var(--color-indigo) !important;}
.u-bgC--blue {background-color: var(--color-blue) !important;}
.u-bgC--light-blue {background-color: var(--color-light-blue) !important;}
.u-bgC--cyan {background-color: var(--color-cyan) !important;}
.u-bgC--teal {background-color: var(--color-teal) !important;}
.u-bgC--green {background-color: var(--color-green) !important;}
.u-bgC--light-green {background-color: var(--color-light-green) !important;}
.u-bgC--lime {background-color: var(--color-lime) !important;}
.u-bgC--yellow {background-color: var(--color-yellow) !important;}
.u-bgC--amber {background-color: var(--color-amber) !important;}
.u-bgC--orange {background-color: var(--color-orange) !important;}
.u-bgC--deep-orange {background-color: var(--color-deep-orange) !important;}
.u-bgC--brown {background-color: var(--color-brown) !important;}
.u-bgC--gray {background-color: var(--color-gray) !important;}
.u-bgC--blue-gray {background-color: var(--color-blue-gray) !important;}
.u-dP--none {display: none;}
.u-dP--block {display: block;}
.u-dP--flex {display: flex;}
.u-dP--grid {display: grid;}
.u-wFit {width: fit-content;}
.u-w50p {width: 50% !important;}
.u-w100p {width: 100% !important;}
.u-w25p-pc {width: 25% !important;}
.u-w33p-pc {width: calc(100% / 3) !important;}
.u-w50p-pc {width: 50% !important;}
.u-w75p-pc {width: 75% !important;}
.u-w100p-pc {width: 100% !important;}
.u-lH--1  {line-height: 1;}
.u-lH--sm {line-height: 1.2;}
.u-lH--md {line-height: 1.8;}
.u-lH--lg {line-height: 2;}
.u-lS--sm {letter-spacing: .2em;}
.u-lS--md {letter-spacing: .4em;}
.u-lS--lg {letter-spacing: .6em;}
.u-listStyle--none {list-style: none;}
.u-mT0 {margin-top: 0 !important;}
.u-mT1 {margin-top: calc(var(--base) * 1) !important;}
.u-mT2 {margin-top: calc(var(--base) * 2) !important;}
.u-mT3 {margin-top: calc(var(--base) * 3) !important;}
.u-mT4 {margin-top: calc(var(--base) * 4) !important;}
.u-mT5 {margin-top: calc(var(--base) * 5) !important;}
.u-mT6 {margin-top: calc(var(--base) * 6) !important;}
.u-mT7 {margin-top: calc(var(--base) * 7) !important;}
.u-mT8 {margin-top: calc(var(--base) * 8) !important;}
.u-mT9 {margin-top: calc(var(--base) * 9) !important;}
.u-mB0 {margin-bottom: 0 !important;}
.u-mB1 {margin-bottom: calc(var(--base) * 1) !important;}
.u-mB2 {margin-bottom: calc(var(--base) * 2) !important;}
.u-mB3 {margin-bottom: calc(var(--base) * 3) !important;}
.u-mB4 {margin-bottom: calc(var(--base) * 4) !important;}
.u-mB5 {margin-bottom: calc(var(--base) * 5) !important;}
.u-mB6 {margin-bottom: calc(var(--base) * 6) !important;}
.u-mB7 {margin-bottom: calc(var(--base) * 7) !important;}
.u-mB8 {margin-bottom: calc(var(--base) * 8) !important;}
.u-mB9 {margin-bottom: calc(var(--base) * 9) !important;}
.u-mL0 {margin-left: 0 !important;}
.u-mL1 {margin-left: calc(var(--base) * 1) !important;}
.u-mL2 {margin-left: calc(var(--base) * 2) !important;}
.u-mL3 {margin-left: calc(var(--base) * 3) !important;}
.u-mL4 {margin-left: calc(var(--base) * 4) !important;}
.u-mL5 {margin-left: calc(var(--base) * 5) !important;}
.u-mR0 {margin-right: 0 !important;}
.u-mR1 {margin-right: calc(var(--base) * 1) !important;}
.u-mR2 {margin-right: calc(var(--base) * 2) !important;}
.u-mR3 {margin-right: calc(var(--base) * 3) !important;}
.u-mR4 {margin-right: calc(var(--base) * 4) !important;}
.u-mR5 {margin-right: calc(var(--base) * 5) !important;}
.u-p0 {padding: 0 !important;}
.u-p1 {padding: calc(var(--base) * 1) !important;}
.u-p2 {padding: calc(var(--base) * 2) !important;}
.u-p3 {padding: calc(var(--base) * 3) !important;}
.u-p4 {padding: calc(var(--base) * 4) !important;}
.u-p5 {padding: calc(var(--base) * 5) !important;}
.u-pT0 {padding-top: 0 !important;}
.u-pT1 {padding-top: calc(var(--base) * 1) !important;}
.u-pT2 {padding-top: calc(var(--base) * 2) !important;}
.u-pT3 {padding-top: calc(var(--base) * 3) !important;}
.u-pT4 {padding-top: calc(var(--base) * 4) !important;}
.u-pT5 {padding-top: calc(var(--base) * 5) !important;}
.u-pT6 {padding-top: calc(var(--base) * 6) !important;}
.u-pT7 {padding-top: calc(var(--base) * 7) !important;}
.u-pT8 {padding-top: calc(var(--base) * 8) !important;}
.u-pT9 {padding-top: calc(var(--base) * 9) !important;}
.u-pB0 {padding-bottom: 0 !important;}
.u-pB1 {padding-bottom: calc(var(--base) * 1) !important;}
.u-pB2 {padding-bottom: calc(var(--base) * 2) !important;}
.u-pB3 {padding-bottom: calc(var(--base) * 3) !important;}
.u-pB4 {padding-bottom: calc(var(--base) * 4) !important;}
.u-pB5 {padding-bottom: calc(var(--base) * 5) !important;}
.u-pB6 {padding-bottom: calc(var(--base) * 6) !important;}
.u-pB7 {padding-bottom: calc(var(--base) * 7) !important;}
.u-pB8 {padding-bottom: calc(var(--base) * 8) !important;}
.u-pB9 {padding-bottom: calc(var(--base) * 9) !important;}
.u-pL0 {padding-left: 0 !important;}
.u-pL1 {padding-left: calc(var(--base) * 1) !important;}
.u-pL2 {padding-left: calc(var(--base) * 2) !important;}
.u-pL3 {padding-left: calc(var(--base) * 3) !important;}
.u-pL4 {padding-left: calc(var(--base) * 4) !important;}
.u-pL5 {padding-left: calc(var(--base) * 5) !important;}
.u-pR0 {padding-right: 0 !important;}
.u-pR1 {padding-right: calc(var(--base) * 1) !important;}
.u-pR2 {padding-right: calc(var(--base) * 2) !important;}
.u-pR3 {padding-right: calc(var(--base) * 3) !important;}
.u-pR4 {padding-right: calc(var(--base) * 4) !important;}
.u-pR5 {padding-right: calc(var(--base) * 5) !important;}
.is-pc    {display: block !important;}
.is-pc-tb {display: block !important;}
.is-pc-sp {display: block !important;}
.is-tb    {display: none !important;}
.is-tb-sp {display: none !important;}
.is-sp    {display: none !important;}
@media screen and (max-width: 1120px) {}
@media screen and (max-width: 960px) {
  .u-w25p-tb {width: 25% !important;}
  .u-w50p-tb {width: 50% !important;}
  .u-w75p-tb {width: 75% !important;}
  .u-w100p-tb {width: 100% !important;}
  .is-pc    {display: none !important;}
  .is-pc-tb {display: block !important;}
  .is-pc-sp {display: none !important;}
  .is-tb    {display: block !important;}
  .is-tb-sp {display: block !important;}
  .is-sp    {display: none !important;}
}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 640px) {
  .u-w25p-sp {width: 25% !important;}
  .u-w50p-sp {width: 50% !important;}
  .u-w75p-sp {width: 75% !important;}
  .u-w100p-sp {width: 100% !important;}
  .is-pc    {display: none !important;}
  .is-pc-tb {display: none !important;}
  .is-pc-sp {display: block !important;}
  .is-tb    {display: none !important;}
  .is-tb-sp {display: block !important;}
  .is-sp    {display: block !important;}
}
@media screen and (max-width: 480px) {}

/***** -- module -- ******/
/* m-form */
.m-form {
  display: grid;
  gap: calc(var(--base) * 6);
  max-width: 100%;
  margin: auto;
}
.m-form-input {
  display: grid;
  gap: calc(var(--base) * 4);
}
.m-form-input > .c-flex {
  gap: .25em;
}
.m-form-input > .c-flex > * {
  width: 100%;
}
.m-form-input[column="2"] > .c-flex > *:nth-child(1) {
  width: auto; /* table によって変更 */
}
.m-form-input[column="2"] > .c-flex > *:nth-child(2) {
  flex: 1;
}
.m-form-checkbox > .c-flex > *:nth-child(2) {
  flex: 1;
}
.m-form-tel {
  width: 12em;
}
.m-form-input-inline > .c-flex {
  gap: calc(var(--base) * 2) calc(var(--base) * 2);
}
.m-form-btn > .c-flex > * {
  margin: 0 .5em .5em;
}
.m-form-list {
  margin-top: .5em;
  padding-left: 2em;
}
.m-form-error {
  display: none;
  position: absolute;
  left: 0.25em;
  font-size: var(--font-size-xs);
  color: #ff0000;
}
.m-form-error.is-active {
  display: block;
}
.m-form-result {
  display: none;
  color: #fff;
  font-size: var(--font-size-sm);
  text-align: center;
  padding: 1em .75em;
  background-color: #8bc34a;
  border-radius: 4px;
}
.m-form-result[form-result="alert"] {background-color: #ffc107;}
.m-form-result[form-result="error"] {background-color: #ff0000;}
.m-form-result.is-active {display: block;}
.m-form-birthday > .c-flex > * {margin-right: 1.5em;}
.m-form-birthday > .c-flex > *::before {
  position: absolute;
  bottom: .25em;
  right: -1em;
  font-size: .75em;
}
.m-form-birthday > .c-flex > *:nth-child(1)::before {content: '年';}
.m-form-birthday > .c-flex > *:nth-child(2)::before {content: '月';}
.m-form-birthday > .c-flex > *:nth-child(3)::before {content: '日';}
/* m-background */
.m-background {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.m-background::before {
  display: block;
  content: '';
}
.m-background::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  content: '';
}
.m-background video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto; 
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%,-50%);
}
/* m-parlx */
/* ----------
  null    ：Height Contents Variable -> data-height="100%"
  is-fixed：Height Fixed -> data-height="400px"
---------- */
.m-parlx {
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.m-parlx::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  content: '';
}
.m-parlx-bg {
  position: absolute;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.m-parlx-body {
  position: relative;
  z-index: 1;
}
.m-parlx.is-fixed .m-parlx-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  z-index: 1;
}
/* m-button */
.m-button > .c-flex {gap: var(--base);}
/* m-table */
.m-table {
  position: relative;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1em;
}
.m-table::-webkit-scrollbar {
  display: block;
  width: var(--base);
  height: var(--base);
  border-radius: var(--base);
  background-color: var(--color-2nd-container);
}
.m-table::-webkit-scrollbar-thumb {
  background-color: var(--color-2nd-container-on);
  border-radius: var(--base);
}
/* m-post */
.m-post > * {margin-top: 1em;}
.m-post > *:first-child {margin-top: 0 !important;}
.m-post h2 {
  font-size: var(--font-size-lg);
  color: #fff;
  margin-top: 2.5em;
  padding: .75em 1em;
  background-color: var(--color-1st);
  border-radius: 4px;
}
.m-post h3 {
  font-size: var(--font-size-lg);
  margin-top: 2em;
  padding: .5em .5em;
  border-bottom: 1px solid var(--color-1st);
}
.m-post h4 {
  font-size: var(--font-size-md);
  color: var(--color-1st);
  margin-top: 1.5em;
  padding: .25em .5em;
}
.m-post a {
  display: inline-block;
  position: relative;
  text-decoration: underline;
}
.m-post a:hover {text-decoration: none;}
.m-post figure {
  text-align: center;
  margin-top: 1.5em;
}
.m-post figure a {text-decoration: none;}
.m-post figure a:hover {opacity: .8;}
.m-post figure a::after {display: none;}
.m-post img {
  display: block;
  margin: 2em auto;
}
.m-post ul > *:not(:first-child),
.m-post ol > *:not(:first-child) {margin-top: .25em;}
.m-post ol > li > ol {
  list-style: none;
  counter-reset: number;
}
.m-post ol > li > ol {
  padding-left: 0;
  list-style: none;
  counter-reset: number;
}
.m-post ol > li > ol > li {
  position: relative;
  padding-left: 2.5em;
}
.m-post ol > li > ol > li::before {
  counter-increment: number;
  content: '(' counter(number) ')';
  position: absolute;
  left: 0;
}
/* m-scroll */
.m-scroll {
  position: relative;
  padding-bottom: 1.5em;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.m-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-2nd-container);
}
.m-scroll > .c-inline > * {
  vertical-align: top;
  white-space: normal;
}
.m-scroll figure img {width: 100%;}
/* picture */
.m-picture {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 24px auto 0;
  background-color: #000;
  border-radius: 16px;
  overflow: hidden;
}
.m-picture::before {
  display: block;
  padding-top: 56.25%;
  content: '';
}
.m-picture > * {
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.m-picture > *::before {
  display: block;
  content: '';
}
.m-picture > *:nth-child(1) {
  left: 0;
  top: 0;
  width: 50%;
}
.m-picture > *:nth-child(1)::before {padding-top: 112.5%;}
.m-picture[picture-count="1"] > *:nth-child(1) {width: 100%;}
.m-picture[picture-count="1"] > *:nth-child(1)::before {padding-top: 56.25%;}
.m-picture > *:nth-child(2) {
  right: 0;
  top: 0;
  width: 50%;
}
.m-picture > *:nth-child(2)::before {padding-top: 56.25%;}
.m-picture[picture-count="2"] > *:nth-child(2)::before {padding-top: 112.5%;}
.m-picture > *:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 50%;
}
.m-picture > *:nth-child(3)::before {padding-top: 56.25%;}
/* accordion */
.m-accordion {
  overflow: hidden;
  background-color: var(--color-white);
}
.m-accordion-summary {
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto;
  padding: 1em;
  padding-right: 3em !important;
  cursor: pointer;
  list-style: none;
}
.m-accordion-summary::-webkit-details-marker {
  display: none;
}
.m-accordion-summary:hover {
  background-color: var(--color-1st-container);
}
.m-accordion-summary:hover p,
.m-accordion-summary:hover span {
  color: var(--color-1st-container-on);
}
.m-accordion-summary span {
  position: absolute;
  top: 50%;
  right: 0.25em;
  font-size: 2em;
  translate: 0 -50%;
  rotate: 0deg;
  transition: rotate .2s ease;
  content: '';
}
.m-accordion-container {
  display: grid;
  transition: grid-template-rows 0.25s;
}
.m-accordion-inner {
  overflow: hidden;
}
details[open] .m-accordion-summary {
  background-color: var(--color-1st-container);
}
details[open] .m-accordion-summary p,
details[open] .m-accordion-summary span {
  color: var(--color-1st-container-on);
}
details[open] .m-accordion-summary span {
  rotate: 180deg;
}
/* modal */
.m-modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);
  backdrop-filter: blur(8px);
  align-items: center;
  justify-content: center;
  opacity: 0;
  scale: 0;
  transition: opacity 0.4s, scale 0s 0.4s;
  z-index: 101;
  cursor: pointer;
}
.m-modal[modal-open="true"] {
  opacity: 1;
  scale: 1;
  transition: opacity 0.4s;
}
.m-modal-close {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0;
  top: 0;
  z-index: 1;
}
.m-modal-close::before,
.m-modal-close::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 1px;
  background-color: var(--color-1st);
  content: '';
}
.m-modal-close::before {transform: translate(-50%,-50%) rotate(45deg);}
.m-modal-close::after  {transform: translate(-50%,-50%) rotate(-45deg);}
.m-modal-content {
  width: calc(100% - (var(--inner-margin) * 2));
  max-height: 80vh;
  padding: calc(var(--base) * 3) calc(var(--base) * 3) calc(var(--base) * 3);
  background-color: var(--color-white);
  border-radius: var(--base);
  scale: 0;
  transition: 0.4s;
  overflow-y: auto;
  cursor: auto;
}
.m-modal-content[modal-width="100%"] {max-width: 100%;}
.m-modal-content[modal-width="inner"] {max-width: var(--inner-max-width);}
.m-modal-content[modal-width="lg"] {max-width: var(--inner-max-width-lg);}
.m-modal-content[modal-width="md"] {max-width: var(--inner-max-width-md);}
.m-modal-content[modal-width="sm"] {max-width: var(--inner-max-width-sm);}
.m-modal-content[modal-width="xs"] {max-width: var(--inner-max-width-xs);}
.m-modal[modal-open="true"] .m-modal-content {
  scale: 1;
}
.m-modal-content-pending {
  position: relative;
  width: 100%;
  height: 320px;
  margin: auto;
}
/* toast */
.m-toast {
  position: fixed;
  right: 8px;
  top: calc(var(--header-height) + 8px);
  width: 80%;
  max-width: 480px;
  padding: calc(var(--base) * 2);
  background-color: #ff000095;
  border-radius: 1em;
  translate: 0 -50svh;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s, translate 0s 0.4s, z-index 0.4s;
}
.m-toast[toast-open="true"] {
  translate: 0 0;
  opacity: 0.95;
  transition: opacity 0.4s, translate 0.4s cubic-bezier(0.4, 0, 0.2, 1.2);
  z-index: 999;
}
.m-toast[toast-mode="success"] {
  background-color: var(--color-success);
}
.m-toast[toast-mode="warning"] {
  background-color: var(--color-warning);
}
.m-toast[toast-mode="error"] {
  background-color: var(--color-error);
}
.m-toast-title,
.m-toast-message {
  color: #fff;
}
/* BoxImage */
.m-boxImage {
  display: block;
  position: relative;
  overflow: hidden;
}
.m-boxImage::before {
  display: block;
  padding-top: 100%;
  content: '';
}
.m-boxImage img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}
.m-boxImage.is-cover img {
  max-width: unset;
  max-height: unset;
}
/* pager */
.m-pager {
  width: fit-content;
  max-width: calc((var(--base) * 6 * 10) + (var(--base) * 9));
  margin-inline: auto;
}
.m-pager > .c-flex {
  gap: var(--base) var(--base);
}
.m-pager > .c-flex > * {
  width: calc(var(--base) * 6);
  height: calc(var(--base) * 6);
  background-color: var(--color-2nd-container);
}
.m-pager > .c-flex > * > span {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  color: var(--color-2nd-container-on);
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1;
  text-align: center;
  translate: 0 -50%;
}
.m-pager > .c-flex > *.is-current {
  background-color: var(--color-2nd);
}
.m-pager > .c-flex > *.is-current > span {
  color: var(--color-2nd-on);
}
.m-pager-prev,
.m-pager-next {
  position: absolute;
  top: 0;
}
.m-pager-prev {left: calc(var(--base) * -7);}
.m-pager-next {right: calc(var(--base) * -7);}
.m-pager select {
  width: 10em !important;
  text-align: center;
  padding: 0 .5em 0 0;
  border: none;
}
@media screen and (max-width: 640px) {
  .m-pager {
    max-width: calc((var(--base) * 5 * 5) + (var(--base) * 4));
  }
}
/* imagetext */
/**
  * [memo] 
  * BP での direction を column or column-reverse にする時に使用

  .m-imagetext > .c-flex {
    flex-direction: column;
    gap: calc(var(--base) * 2);
  }
  .m-imagetext-content {
    width: auto;
  }
  .c-inner--full .m-imagetext-content {
    margin-right: var(--inner-margin);
  }
  .c-inner--full .m-imagetext[direction="reverse"] .m-imagetext-content {
    margin-left: var(--inner-margin);
  }
  .m-imagetext-image {width: 100%;}
*/
.m-imagetext {
  position: relative;
  --imagetext-gap: calc(var(--base) * 6);
  --imagetext-content-width: auto;
}
.m-imagetext > .c-flex {
  justify-content: space-between;
}
.m-imagetext[direction="reverse"] > .c-flex {
  flex-direction: row-reverse;
}
.m-imagetext-content {
  display: flex;
  width: var(--imagetext-content-width);
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.c-inner--full .m-imagetext-content {
  margin-left: calc((100% - var(--inner-max-width)) / 2);
}
.c-inner--full .m-imagetext[direction="reverse"] .m-imagetext-content {
  margin-right: calc((100% - var(--inner-max-width)) / 2);
}
.m-imagetext-image {
  display: flex;
  width: calc(100% - var(--imagetext-content-width) - var(--imagetext-gap));
}
.c-inner--full .m-imagetext-image {
  width: calc(100% - ((100% - var(--inner-max-width)) / 2) - var(--imagetext-content-width) - var(--imagetext-gap)); 
}
@media screen and (max-width: 1120px) {
  .c-inner--full .m-imagetext-content {
    margin-left: var(--inner-margin);
  }
  .c-inner--full .m-imagetext[direction="reverse"] .m-imagetext-content {
    margin-right: var(--inner-margin);
  }
  .c-inner--full .m-imagetext-image {
    width: calc(100% - var(--inner-margin) - var(--imagetext-content-width) - var(--imagetext-gap));
  }
}
